{% load static %}

{% block SubCategoryForm %}

<div class="modal fade" id="{{ form_id }}">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ title }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{ url }}" method="POST">
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                    <label for="type">Parent Category</label>
                        <select class="select2" name="type" id="type" style="width: 100%;">
                            <option value="None" selected>Choose</option>
                            {% for item in category_list %}
                                <option value="{{ item.value }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="form-group">
                    <label for="account_name">Sub_Category Name</label>
                    <input type="text" class="form-control" name="sub_category_name" id="sub_category_name" placeholder="Sub Category">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" id="description" placeholder="Description i.e: examples">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit button" class="btn btn-primary">Create</button>
            </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock %}
